.app-root {
  text-align: center; }
  .app-root .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center; }
  .app-root .error {
    color: red; }
  .app-root .login-root {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .app-root .home-root {
    display: flex; }
